
<form ng-submit="vm.save()">
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input"  ng-model="vm.oldPassword" type="password" id="oldPassword">
		<label class="mdl-textfield__label" for="oldPassword">Old Password</label>
	</div>
	<br/>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" ng-model="vm.newPassword" type="password" id="newPassword">
		<label class="mdl-textfield__label" for="newPassword">New Password</label>
	</div>
	<br/>
	<div class="mdl-dialog__actions">
		<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Save</button>
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Cancel</button>
	</div>
</form>