<div class="modal-backdrop"></div>
<div class="modal-holder" autoscroll="false" id="modalHolder">

	<div class="modal-box">
		<h5>Create/Edit Category</h5>
		<hr>
		<form id="dialog-form" ng-submit="vm.save()">
			<div ng-class="vm.isEdit()">
				<input class="mdl-textfield__input" disabled="disabled" ng-model="vm.category.id" type="text" id="categoryId">
				<label class="mdl-textfield__label" for="categoryId">ID</label>
			</div>
			<div ng-class="vm.isEdit()">
				<input class="mdl-textfield__input" ng-model="vm.category.categoryName" type="text" id="categoryName">
				<label class="mdl-textfield__label" for="categoryName">Category Name</label>
			</div>
			<div class="mdl-dialog__actions">
				<button type="submit" class="mdl-button mdl-js-button mdl-button--accent save">Save</button>
				<button type="button" class="mdl-button mdl-js-button mdl-button--accent close" ng-click="vm.category = null">Cancel</button>
			</div>
		</form>
	</div>

</div>



