
<!-- Accent-colored raised button with ripple -->
<!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ui-sref="main.category.category-dialog" id="createBtn">
  Create
</button>
<br/>
<br/> -->
<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th>No</th>
      <th>Transaction Date</th>
      <th>Cashier</th>
      <th>Payment Method</th>
      <th>Total</th>
      <th>Discount</th>
      <th>Grand Total</th>
      <th>Customer</th>
      <th>Status</th>
      <th>Down Payment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="ng-animation-disabled" dir-paginate="salesorder in vm.salesorders | itemsPerPage: vm.pageSize" current-page="vm.currentPage"  total-items="vm.dataCount">
      <td>{{$index+1}}</td>
      <td>{{salesorder.transactionDate | date : 'dd/MM/yyyy HH:MM'}}</td>
      <td>{{salesorder.user.name}}</td>
      <td>{{salesorder.transactionMethod.methodName}}</td>
      <td>{{salesorder.total | currency: ''}}</td>
      <td>{{salesorder.discount | currency: ''}}</td>
      <td>{{salesorder.grandTotal | currency: ''}}</td>
      <td>{{salesorder.customer.id != 0 ? salesorder.customer.customerName : '-'}}</td>
      <td>{{salesorder.status}}</td>
      <td>{{salesorder.downPayment | currency: ''}}</td>
      <td style="padding-top:8px">
        <button id="viewBtn{{salesorder.id}}" ng-click="vm.salesorder = salesorder" ui-sref="main.salesorder.detail" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent"><i class="material-icons" style="font-size:18px">visibility</i></button>
        <div class="mdl-tooltip" for="viewBtn{{salesorder.id}}">
          View Detail
        </div>
        <button ng-if="salesorder.transactionMethod.methodName != 'DEBT'" id="printBtn{{salesorder.id}}" ng-click="vm.reprint(salesorder.id)" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent"><i class="material-icons" style="font-size:18px">print</i></button>
        <div class="mdl-tooltip" for="printBtn{{salesorder.id}}">
          Reprint
        </div>
      </td>
    </tr>
  </tbody>
</table>
<dir-pagination-controls
        boundary-links="true"
        on-page-change="vm.pageChangeHandler(newPageNumber)">
</dir-pagination-controls>


<div ui-view autoscroll="false"></div>

