<div class="modal-backdrop"></div>
<div class="modal-holder" autoscroll="false" id="modalHolder">

	<div class="modal-box">
		<h5>Create/Edit Supplier</h5>
		<hr>
		<form id="dialog-form" ng-submit="vm.save()">
			<div ng-class="vm.isEdit()">
				<input class="mdl-textfield__input" disabled ng-model="vm.supplier.id" type="text" id="supplierId">
				<label class="mdl-textfield__label" for="supplierId">ID</label>
			</div>
			<div ng-class="vm.isEdit()">
				<input class="mdl-textfield__input" ng-model="vm.supplier.supplierName" required type="text" id="supplierName">
				<label class="mdl-textfield__label" for="supplierName">Supplier Name</label>
			</div>
			<div ng-class="vm.isEdit()">
				<input class="mdl-textfield__input" ng-model="vm.supplier.address" type="text" id="address">
				<label class="mdl-textfield__label" for="address">Address</label>
			</div>
			<div ng-class="vm.isEdit()">
				<input class="mdl-textfield__input" ng-model="vm.supplier.phoneNumber" required type="text" id="phoneNumber">
				<label class="mdl-textfield__label" for="phoneNumber">Phone Number</label>
			</div>
			<div class="mdl-dialog__actions">
				<button type="submit" class="mdl-button mdl-js-button mdl-button--accent save">Save</button>
				<button type="button" class="mdl-button mdl-js-button mdl-button--accent close" ng-click="vm.supplier = null">Cancel</button>
			</div>
		</form>
	</div>

</div>



