<div id="search-container" class="mdl-textfield mdl-js-textfield">
  <input class="mdl-textfield__input" ng-model="vm.searchValue"  type="text" id="searchValue">
  <label class="mdl-textfield__label" for="searchValue">Product code or product name</label>
  <button ng-click="vm.search()" style="right:0px;margin-bottom:5px;" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent">
    <i class="material-icons">search</i>
  </button>
</div>
<br>
<!-- Accent-colored raised button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ui-sref="main.product-form({product: null})" id="createBtn">
  Create
</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="exportBtn">
  Export
</button>&nbsp;&nbsp;&nbsp;
<button type="button" ng-click="vm.refresh()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Refresh
</button>
<br/>
<br/>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <select id="sortCriteria" class="mdl-textfield__input" ng-options="vm.sortingCriteria.indexOf(criteria) as criteria for criteria in vm.sortingCriteria" ng-model="vm.criteriaSelected" ng-change="vm.sort()"></select>
  <label class="mdl-textfield__label" for="customer">Sort by</label>
</div>
<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th>Product Code</th>
      <th>Product Name</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Base Price</th>
      <th>Min Stock</th>
      <th>Stock</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="ng-animation-disabled" dir-paginate="product in vm.products | itemsPerPage: vm.pageSize" current-page="vm.currentPage"  total-items="vm.dataCount">
      <td>{{product.productCode}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.brand.brandName}}</td>
      <td>{{product.category.categoryName}}</td>
      <td>{{product.basePrice | currency:''}}</td>
      <td>{{product.minStock}}</td>
      <td>{{product.stock}}</td>
      <td style="padding-top:8px;padding-right:12px">
       <button id="editBtn" ui-sref="main.product-form({product: product})" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent"><i class="material-icons" style="font-size:18px" >edit</i></button>
       <button id="viewBtn{{product.id}}" ng-click="vm.product = product;vm.loadProductPrices()" ui-sref="main.product.product-price" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent"><i class="material-icons" style="font-size:18px">visibility</i></button>
        <div class="mdl-tooltip" for="viewBtn{{product.id}}">
          View Pricing
        </div>
      </td>
    </tr>
  </tbody>
</table>
<dir-pagination-controls
        boundary-links="true"
        on-page-change="vm.pageChangeHandler(newPageNumber)">
</dir-pagination-controls>

<dialog class="mdl-dialog" ng-init="vm.loadPriceParam()">
  <h4 class="mdl-dialog__title">Choose Price Identifier</h4>
  <div class="mdl-dialog__content">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-focused">
      <select id="pricingName" class="mdl-textfield__input" ng-model="vm.priceParam" ng-options="priceParam.id as priceParam.paramName for priceParam in vm.priceParams">
      </select>
      <label class="mdl-textfield__label" for="pricingName">Price Identifier</label>
    </div><br>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button ok" ng-click="vm.export()">Ok</button>
    <button type="button" class="mdl-button close">Cancel</button>
  </div>
</dialog>
<script>
var dialog = document.querySelector('dialog');
var showDialogButton = document.querySelector('#exportBtn');
if (! dialog.showModal) {
  dialogPolyfill.registerDialog(dialog);
}
showDialogButton.addEventListener('click', function() {
  dialog.showModal();
});
dialog.querySelector('.close').addEventListener('click', function() {
  dialog.close();
});
dialog.querySelector('.ok').addEventListener('click', function() {
  dialog.close();
});
</script>

<div ui-view autoscroll="false"></div>


