
<!-- Accent-colored raised button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ui-sref="main.product.product-dialog" id="createBtn">
  Create
</button>
<button style="float:right" type="button" ng-click="vm.download()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="exportBtn">Export</button>
<br/>
<br/>
<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th>Product Code</th>
      <th>Product Name</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Price</th>
      <th>Pcs Price</th>
      <th>Lot Price</th>
      <th>Min Lot</th>
      <th>Min Stock</th>
      <th>Stock</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr dir-paginate="product in vm.products | itemsPerPage: vm.pageSize" current-page="vm.currentPage"  total-items="vm.dataCount">
      <td>{{product.productCode}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.brand.brandName}}</td>
      <td>{{product.category.categoryName}}</td>
      <td>{{product.price | currency:''}}</td>
      <td>{{product.pcsPrice | currency:''}}</td>
      <td>{{product.lotPrice | currency:''}}</td>
      <td>{{product.minLot}}</td>
      <td>{{product.minStock}}</td>
      <td>{{product.stock}}</td>
      <td>{{product.description}}</td>
      <td style="padding-top:8px;padding-right:12px">
       <button id="editBtn" ui-sref="main.product.product-dialog" ng-click="vm.edit(product)" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent"><i class="material-icons" style="font-size:18px" >edit</i></button>
      </td>
    </tr>
  </tbody>
</table>
<dir-pagination-controls
        boundary-links="true"
        on-page-change="vm.pageChangeHandler(newPageNumber)">
</dir-pagination-controls>


<div ui-view autoscroll="false"></div>


